git-tag-version = false
@hgtronic:registry=https://npm.pkg.github.com
public-hoist-pattern[]=*cypress*
public-hoist-pattern[]=*prettier*
auto-install-peers=false
strict-peer-dependencies=true
resolve-peers-from-workspace-root=true
dedupe-peer-dependents=true